.navbar {
  margin-bottom: 10vh;
}
.logo {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
}

.loggedIn {
  background-color: rgb(147, 198, 231);
}
.notLoggedIn {
  background-color: rgb(248, 240, 248);
}

ul > li {
  padding-left: 3vw;
  padding-right: 3vw;
}

@media screen and (max-width: 1200px) {
  ul > li {
    padding-left: 1.5vw;
    padding-right: 1.5vw;
  }
}
