.specificCardImg {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
}
.spesificCard {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 1rem;
}
